<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variables>
		<variable name="logDirectory" value="${specialfolder:folder=ApplicationData}/backup_data_base/logs" />
		<variable name="defaultLayout" value="${longdate} ${uppercase:${level}} - ${message} - ${onexception:${newline}${exception:maxInnerExceptionLevel=10:format=shortType,message,stacktrace:separator=*:innerExceptionSeparator=&#xD;&#xA;&#x9;}}${newline}" />
	</variables>
	<targets>
		<target name="logFile" xsi:type="File" fileName="${logDirectory}/${shortdate}_application_trace.log" layout="${defaultLayout}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="logFile" />
	</rules>
</nlog>